aiomqtt==2.3.1
json-rpc==1.13.0
jsonschema==4.19.2
mqttrpc @ git+https://github.com/wirenboard/python-mqtt-rpc@feature/trixie
paho-mqtt==2.1.0
python-dali @ git+https://github.com/wirenboard/python-dali@dev/v0.11
websockets==8.1
