Source: wb-mqtt-dali
Maintainer: Wiren Board team <info@wirenboard.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 11),
               dh-sequence-python3,
               python3-all,
               python3-asyncio-mqtt (>= 0.10.0-wb101~~),
               python3-dali (>= 0.11-wb100~~),
               python3-jsonschema,
               python3-mqttrpc,
               python3-pytest,
               python3-pytest-asyncio,
               python3-wb-common (>= 2.1.0~~),
               python3-websockets
Homepage: https://github.com/wirenboard/wb-mqtt-dali

Package: wb-mqtt-dali
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-asyncio-mqtt (>= 0.10.0-wb101~~),
         python3-dali (>= 0.11-wb100~~),
         python3-jsonschema,
         python3-mqttrpc,
         python3-wb-common (>= 2.1.0~~),
         python3-websockets
Description: MQTT DALI bridge for Wiren Board
 This package provides an MQTT DALI bridge for Wiren Board devices.
